<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="4.4.0" targetFramework="net45" />
  <package id="DryIoc.dll" version="2.0.0.266" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Queo.Commons" version="1.5.0.0" targetFramework="net45" />
  <package id="Queo.Commons.MVVM" version="1.2.3.0" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
</packages>